{% extends 'base_h_table.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <center><img class="img-fluid rounded" src="{% static 'core/images/faces/sample-qr.jpg' %}" width="200" height="200"></center>
    <div class="row my-3 text-center">
      <span class="fw-bold text-primary h2">Net Amount: ₹{{amt}}</span><br>
    </div>
    <p>{{transaction_id}}</p>
    <p>Scan the QR for Payment</p>
    <div class="row my-3 mx-3">
      <a href="{% url 'payment-done' %}" class="col-sm-2 btn btn-info">Done!<a>
    </div>
  </div>
</div>
{% endblock %}
