{% extends 'base_h_table.html' %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-12">
    <table class="table mx-auto table-responsive table-striped align-items-center table-bordered">
      <tr class="text-center bg-secondary">
        <th class="text-white">Sr/No.</th>
        <th class="text-white">Order Number</th>
        <th class="text-white">Item Name</th>
        <th class="text-white">Quantity</th>
        <th class="text-white">Status</th>
        <th class="text-white">Actions</th>
      </tr>
      {% for i in orders %}
        <tr class="text-center">
          <td>{{forloop.counter}}</td>
          <td>{{i.number}}</td>
          <td>{{i.item_id}}</td>
          <td>{{i.quantity}}x</td>
          <td><span class="badge badge-primary">{{i.status}}</span></td>
          <td>
            <a class="btn btn-success btn-xs ml-2" href="" title="Edit Order"><i class="mdi mdi-pencil"></i></a>
            <form action="" method="post" onsubmit="return confirm('Are you sure want to delete ?');" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-xs" title="Cancel Order"><i class="mdi mdi-block-helper"></i></button>
            </form>
          </td>
        </tr>
      {%endfor%}
    </table>
  </div>
</div>
{% endblock %}