{% extends 'base_h_table.html' %}
{% load static %}
{% block content %}
<div class="row mb-3 justify-content-center">
  <div class="btn-group col-md-2">
    <button type="button" class="btn btn-outline-primary fw-bold" id="categoryDP" data-bs-toggle="dropdown">Category</button>
    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" id="categoryDP" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu bg-outline-primary" aria-labelledby="categoryDP">
      <h6 class="dropdown-header">Settings</h6>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <div class="btn-group col-md-2">
    <button type="button" class="btn btn-outline-primary fw-bold" id="priceDP" data-bs-toggle="dropdown">Price</button>
    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" id="priceDP" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu bg-outline-primary" aria-labelledby="priceDP">
      <h6 class="dropdown-header">Settings</h6>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
  <div class="btn-group col-md-2">
    <button type="button" class="btn btn-outline-primary fw-bold" id="filterDP" data-bs-toggle="dropdown">Filters</button>
    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" id="filterDP" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu bg-outline-primary" aria-labelledby="filterDP">
      <h6 class="dropdown-header">Settings</h6>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>
<div class="row">
  {% for i in items %}
  <div class="col-md-3  mb-3">
    <div class="card bg-gradient-secondary" style="max-width: 18rem;">
      <div class="card-body text-center">
        <img class="img-fluid rounded d-block" src="{% static 'food_images/'|add:i.image %}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ i.name }} <br><b class="text-primary">₹{{i.price}}</b> </h5>
        <p class="card-text">{{i.description}}</p>
        <a href="#" class="btn btn-primary">Order</a>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">1x</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="mul{{forloop.counter}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu bg-outline-primary" aria-labelledby="mul{{forloop.counter}}">
            <a class="dropdown-item" href="#">1x</a>
            <a class="dropdown-item" href="#">2x</a>
            <a class="dropdown-item" href="#">5x</a>
            <a class="dropdown-item" href="#">10x</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- <div class="row">
  {% for i in range %}
  <div class="col-md-3  mb-3">
    <div class="card bg-gradient-secondary" style="max-width: 18rem;">
      <div class="card-body text-center">
        <img class="img-fluid rounded d-block" src="{% static 'core/images/auth/lockscreen-bg.jpg' %}">
      </div>
      <div class="card-body">
        <h5 class="card-title">Food Item {{ forloop.counter }} | <b class="text-primary">₹299</b> </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Order</a>
        <div class="btn-group">
          <button type="button" class="btn btn-primary">1x</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" id="mul{{forloop.counter}}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu bg-outline-primary" aria-labelledby="mul{{forloop.counter}}">
            <a class="dropdown-item" href="#">1x</a>
            <a class="dropdown-item" href="#">2x</a>
            <a class="dropdown-item" href="#">5x</a>
            <a class="dropdown-item" href="#">10x</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div> -->
{% endblock %}
