{% extends 'base_h_owner.html' %}
{% load static %}
{% block wsp_title %}
~ / <span class="text-black fw-bold">Analytics</span> / AreaChart / Weekly / <button type="button" id="api-message" class="d-none btn fw-bold btn-outline-danger"></button>
{% endblock %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card bg-gradient-secondary">
    <div class="card-header">
      <h4 class="card-title my-auto fw-bold">Multi Items Area Graph
      <span style="float: right;">
        <button type="button" id="download-image-btn" class="btn btn-dark btn-icon">
          <i class="mdi mdi-download"></i>
        </button>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-dark btn-icon">
            <i class="mdi mdi-magnify-minus"></i>
          </button>
          <button type="button" class="btn btn-dark btn-icon">
            <i class="mdi mdi-magnify-plus"></i>
          </button>
        </div>
        <button type="button" id="chart-settings-btn" class="btn btn-dark btn-icon">
          <i class="mdi mdi-settings"></i>
        </button>
        <button type="button" id="des" class="btn btn-dark btn-icon">
          <i class="mdi mdi-invert-colors"></i>
        </button>
        <button type="button" id="refresh-chart-btn" class="btn btn-dark btn-icon">
          <i class="mdi mdi-refresh"></i>
        </button>
        <div class="btn-group" role="group" aria-label="Select Chart">
          <button type="button" class="btn btn-warning text-dark">
            <i class="mdi mdi-chart-arc"></i>
          </button>
          <button type="button" class="btn btn-warning text-dark">
            <i class="mdi mdi-chart-areaspline"></i>
          </button>
          <button type="button" class="btn btn-warning text-dark">
            <i class="mdi mdi-chart-histogram"></i>
          </button>
          <button type="button" class="btn btn-warning text-dark">
            <i class="mdi mdi-chart-bar"></i>
          </button>
          <button type="button" class="btn btn-warning text-dark">
            <i class="mdi mdi-chart-line"></i>
          </button>
          <button type="button" class="btn btn-warning text-dark">
            <i class="mdi mdi-chart-pie"></i>
          </button>
          <button type="button" class="btn btn-warning text-dark">
            <i class="mdi mdi-chart-bubble"></i>
          </button>
          <button type="button" class="btn btn-warning text-dark">
            <i class="mdi mdi-chart-histogram"></i>
          </button>
        </div>
      </span>
      </h4>
    </div>
    <div class="card-body">
      <div class="row mx-auto mt-3 px-auto">
        <div class="col-lg-9 my-auto canvas1">
          <!-- <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div> -->
          <canvas id="areaChartSales" width="100%" style="display: block;" class="chartjs-render-monitor bg-light rounded border"></canvas>
        </div>
        <div class="col-lg-3">
          <div class="row">
            <label class="fw-bold col-lg-3">From:</label>
            <div class="col-lg-9">
              <input type="text" class="rounded input-sm form-control" id="filter_start_date">
            </div>
          </div>
          <div class="form-group row mt-1">
            <label class="fw-bold col-lg-3">To:</label>
            <div class="col-lg-9">
              <input type="text" class="mb-2 rounded input-sm form-control" id="filter_end_date">
            </div>
          </div>
          <div class="form-group row">
            <label class="fw-bold col-lg-3">Items:</label>
            <div class="col-lg-9">
              <select class="form-control" name="item_ids" id="item_ids" multiple>
                {% for i in items %}
                <option value="{{i.id}}">{{ i.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="fw-bold col-lg-3">X-Axis:</label>
            <div class="col-lg-9">
              <select class="form-control" name="x_axis_data" id="x_axis_data">
                <option value="dp">Date Period</option>
                <option value="ht">Hotel Table</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="fw-bold col-lg-3">Y-Axis:</label>
            <div class="col-lg-9">
              <select class="form-control" name="y_axis_data" id="y_axis_data">
                <option value="rate">Amount of Order (₹)</option>
                <option value="quantity">Quantity of Order</option>
              </select>
                <!-- <input type="text" class="form-control" name="y_axis_data" id="y_axis_data" placeholder="Vertical axis"> -->
            </div>
          </div>
          <div class="form-group row">
            <span>
              <button type="button" class="col-sm-2 rounded btn-sm btn-outline-primary" id="filter_commit" style="float: right;"><i class="mdi mdi-magnify"></i></button>
              <button type="button" class="col-sm-2 mx-3 rounded btn-sm btn-outline-danger" id="filter_clear" style="float: right;"><i class="mdi mdi-window-close"></i></button>
            </span>
          </div>
          <div class="form-group row">
            <label class="fw-bold col-lg-3">Checkout Histroy:</label>
            <div class="col-lg-9">
              <select class="form-control" name="" id="history_sel">
                <option value="rate">Amount of Order (₹)</option>
                <option value="quantity">Quantity of Order</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="chart-settings-modal" role="dialog">
  <div class="modal-dialog modal-md">
      <div class="modal-content">                      
          <div class="modal-header">
              <h4 class="font-size-lg text-dark font-weight-bold mb-6">Advanced Chart Settings</h4><br>
              <button type="button" class="close" data-dismiss="modal"><i class="mdi mdi-window-close"></i></button>
          </div>
          <div class="modal-body">
              <div class="panel panel-default">
                  <div class="form-group row">
                      <div class="col-lg-6">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <div class="switch">
                              <label><b>X-Axis</b>
                                <input type="checkbox" id="x-grid">
                                <span class="lever"></span>
                              </label>
                            </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-check form-check-primary">
                          <label class="form-check-label">
                            <div class="switch">
                              <label><b>Y-Axis</b>
                                <input type="checkbox" checked="" id="y-grid" onchange="resetChartOptions()">
                                <span class="lever"></span>
                              </label>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label>Zoom on axis:</label>
                      <div class="col-lg-6">
                        <div class="switch">
                          <label>X-Axis<input type="checkbox" id="zoom-axis" onchange="resetChartOptions()">
                            <span class="lever"></span>Y-Axis
                          </label>
                        </div>
                      </div>
                    </div>
                </div>
          </div>
      </div>                    
  </div><!--Model diaolog-->
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'core/js/Chart.Zoom.min.js' %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.esm.js" integrity="sha512-59oaQE+Oz94NSelkRzYEkfwlKDjUj7IWGPlZQJwWtHjbkYxwjnVgwDV3mCn/Vg6CiLUVcdjZO+Kta2bjVemV3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="{% static 'core/js/jquery-dateformat.min.js' %}"></script>
<script>
  $(document).ready(function() {
    var canvas1_html = '<canvas id="areaChartSales" width="100%" style="display: block;" class="chartjs-render-monitor bg-light rounded border"></canvas>'
    var multiAreaOptions = ""
    var newdate = new Date('07-Jun-2022')
    newdate.setDate(newdate.getDate() - 7);     //7 days back
    //###############################################################################
    $("#item_ids").select2();
    $("#history_sel").select2();
    $('#filter_start_date').datepicker({format: "dd-M-yyyy",orientation: "auto"}).datepicker("setDate",new Date(newdate));
    $('#filter_end_date').datepicker({format: "dd-M-yyyy",orientation: "auto",todayHighlight: true,}).datepicker("setDate",'now');
    $.ajaxSetup({
      beforeSend: function(){$(".loading-image").show();},
      complete: function(){$(".loading-image").hide();},
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' }
    });
    $("#filter_commit").click(function(e){
      var start = new Date($('#filter_start_date').val())
      var end = new Date($('#filter_end_date').val())
      var item_ids = $("#item_ids").val();
      start = start.getFullYear()+'-'+ ('0'+(start.getMonth()+1)).slice(-2)+'-'+('0' + start.getDate()).slice(-2)
      end = end.getFullYear()+'-'+ ('0'+(end.getMonth()+1)).slice(-2)+'-'+('0' + end.getDate()).slice(-2)

      $.ajax({
          type: 'POST',
          url: "{% url 'api.get-multiareachart-data'  %}",
          data: {
            "start": start, 
            "end": end,
            "item_ids[]": item_ids
          },
          success: function(response) {
            setApiMessage(response.status,response.message)
            chartRefresh(response.data)
          }
      });
    })
    $("#chart-settings-btn").click(function(e){$("#chart-settings-modal").modal('show')})
    $("#refresh-chart-btn").click(function(e){callChartAPIOnLoad()})
    $('#download-image-btn').click(function(e){
        var a = document.createElement('a');
        a.href = multiAreaChart.toBase64Image('image/jpeg', 1);
        a.download = 'chart_automated_hotels.png';
        a.click();
    })
    //@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    function callChartAPIOnLoad(){
      resetChartOptions()
      $.ajax({
        url: '{% url "api.get-multiareachart-data" %}',
        beforeSend: function(){$(".loading-image").show()},
        complete: function(){$(".loading-image").hide()},
        success: function(response){
          setApiMessage(response.status,response.message)
          chartRefresh(response.data)
        }
      })
    }
    function resetChartOptions(){
      multiAreaOptions = {
        plugins: {
          filler: {
            propagate: true
          }
        },
        elements: {
          point: {
            radius: 5
          }
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: $("#x-grid").is(":checked")
            }
          }],
          yAxes: [{
            gridLines: {
              display: $("#y-grid").is(":checked")
            }
          }]
        },
        pan: {
            enabled: true,
            mode: 'x',
            speed: 1
        },
        zoom: {
            enabled: true,						
            mode: $("#zoom-axis").is(":checked") ? 'y': 'x',
        }
      }
      // callChartAPIOnLoad()
    }
    function chartRefresh(final_json_data){
      var multiAreaData = final_json_data
      resetChartOptions()
      $('.canvas1').html(canvas1_html);
      var multiAreaCanvas = $("#areaChartSales").get(0).getContext("2d")
      multiAreaChart = new Chart(multiAreaCanvas, {
        type: 'line',
        data: multiAreaData,
        options: multiAreaOptions
      });
      multiAreaChart.ctx.canvas.addEventListener('wheel', multiAreaChart._wheelHandler);
    }
    function setApiMessage(status,message){
      var btn = $('#api-message')
      btn.html(message)
      if(status=="0"){
        btn.removeClass('btn-outline-info')
        btn.addClass('btn-outline-danger')
        btn.removeClass('d-none')
      }
      else if(status=="1"){
        btn.removeClass('btn-outline-danger')
        btn.addClass('btn-outline-info')
        btn.removeClass('d-none')
      } else {
        btn.html()
        btn.addClass('d-none')
      }
    }
    //%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    callChartAPIOnLoad()
  })
</script>
{% endblock %}
  