{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <b>Machine learning and Analytics data</b>
      </h4>
      <div class="row mx-auto mt-3 px-auto my-auto py-3">
        <div class="col-lg-4">
          <div class="card bg-primary">
            <div class="card-body">
              <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <h4 class="card-title text-white">Daily Sale <span style="float: right;"><i class="mdi mdi-arrow-right"></i></span></h4>
              <canvas id="lineChart" width="676" height="337" style="display: block; height: 270px; width: 541px;" class="chartjs-render-monitor bg-light rounded"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-warning">
            <div class="card-body">
              <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <h4 class="card-title">Revenue Pridiction <span style="float: right;"><i class="mdi mdi-arrow-right"></i></span></h4>
              <canvas id="pieChart" width="676" height="337" style="display: block; height: 270px; width: 541px;" class="chartjs-render-monitor bg-light rounded"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-info">
            <div class="card-body">
              <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <h4 class="card-title">Delivery Monitoring <span style="float: right;"><i class="mdi mdi-arrow-right"></i></span></h4>
              <canvas id="barChart" width="676" height="337" style="display: block; height: 270px; width: 541px;" class="chartjs-render-monitor bg-light rounded"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-auto mt-3">
        <div class="col-lg-4">
          <div class="card bg-secondary">
            <div class="card-body">
              <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <h4 class="card-title text-white">Refresh Analytics <span style="float: right;"><i class="mdi mdi-arrow-right"></i></span></h4>
              <canvas id="scatterChart" width="676" height="337" style="display: block; height: 270px; width: 541px;" class="chartjs-render-monitor bg-light rounded"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-success">
            <div class="card-body">
              <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <h4 class="card-title text-white">User Management <span style="float: right;"><i class="mdi mdi-arrow-right"></i></span></h4>
              <canvas id="doughnutChart" width="676" height="337" style="display: block; height: 270px; width: 541px;" class="chartjs-render-monitor bg-light rounded"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-danger">
            <div class="card-body">
              <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
              <h4 class="card-title text-white">Troubleshooting <span style="float: right;"><i class="mdi mdi-arrow-right"></i></span></h4>
              <canvas id="areaChart" width="676" height="337" style="display: block; height: 270px; width: 541px;" class="chartjs-render-monitor bg-light rounded"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
