{% extends 'base_h_owner.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <form class="form-sample" method="POST">
        {% csrf_token %}
        <div class="card-header">
          <h4 class="card-title"><b>Edit Table details</b></h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Table Name:</label>
                <div class="col-lg-9">
                  <input type="text" name='tablename' class="form-control" value="{{ data.table_name }}">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Description:</label>
                <div class="col-sm-9">
                  <input type="text" name ='description' class="form-control" value="{{ data.description}}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-block btn-primary font-weight-medium auth-form-btn">Save</button>
          <a href="{% url 'hotel-table' %}" class="btn btn-block btn-warning font-weight-bold ml-2">Back</a>
        </div>
      </form>
    </div>
</div>
{% endblock %}
