{% extends 'base_h_owner.html' %}
{% load static %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Table details</h4>
            <p class="card-description">Details of the Table is updated on {DATE}</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <address>
                        <h4 class="fw-bold">Table ID: </h4>
                        {{table.id}}
                    </address>
                    <address>
                        <h4 class="fw-bold">Table Name: </h4>
                        {{table.table_name}}
                    </address>
                    <address>
                        <h4 class="fw-bold">Hotel Name: </h4>
                        {{table.hotel_id}}
                    </address>
                    <address>
                        <h4 class="fw-bold">Owner Name: </h4>
                        {{owner.username}}
                    </address>
                    <address>
                        <h4 class="fw-bold">Owner Email ID: </h4>
                        {{ owner.email }}
                    </address>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'hotel-table' %}" class="btn btn-block btn-warning font-weight-bold ml-2">Back</a>
        </div>
    </div>
</div>
{% endblock %}
