{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
          {% if customer %}
          <table border=0 id='table1' align='left'>
              <tr>
                  <th>No.</th>
                  <th>Customer Name</th>
                  <th>Restaurant Name</th>
                  <th>Actions</th>
              </tr>
            {% for i in customer %}
            <tr id='tr1'>
              <td id='td1' width='50px' >
                {{forloop.counter}}.
              </td>
            <td id='td1' style='text-align: left;'>
            {{ i.username }}
            </td>
            <td>
              {{ i.last_name }}
            </td>
            <td id='td1' width='70px'>
              <a href="{% url 'update_customer' i.id %}"><i class="mdi mdi-pencil"></i></a>
              <a href="{% url 'remove_customer' i.id %}"><i class="mdi mdi-delete"></i></a>
              <a href="{% url 'view_customer' i.id %}"><i class="mdi mdi-eye"></i></a>
            </td>
            {%endfor%}
          </table>
          {% else %}
            <h4 class = 'text-center alert alert-warning'>No records to show</h4>
            {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
