{% extends 'base.html' %}
{% load static %}
{% block user %}
<div class="navbar-menu-wrapper d-flex align-items-top">
  <ul class="navbar-nav">
    <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
      <h1 class="welcome-text">Greetings of the day! <span class="text-black fw-bold">{{ username.name }}</span></h1>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <form class="search-form" action="#">
        <i class="icon-search"></i>
        <input type="search" class="form-control" placeholder="Search Here" title="Search here">
      </form>
    </li>
    <li class="nav-item dropdown d-none d-lg-block user-dropdown">
      <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="img-xs rounded-circle" src="/static/core/images/faces/face8.jpg" alt="Profile image"> </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
        <div class="dropdown-header text-center">
          <img class="img-md rounded-circle" src="/static/core/images/faces/face8.jpg" alt="Profile image">
          <p class="mb-1 mt-3 font-weight-semibold">{{username.name }}</p>
          <p class="fw-light text-muted mb-0">{{username.email }}</p>
        </div>
        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-success me-2"></i> My Profile</a>
        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
        <a class="dropdown-item" href="{% url 'logout'  %}"><i class="dropdown-item-icon mdi mdi-power text-danger me-2"></i>Sign Out</a>
      </div>
    </li>
  </ul>
  <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
    <span class="mdi mdi-menu"></span>
  </button>
</div>
{% endblock%}
{% block content %}
<div class="main-panel">
<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <b>List of Hotel Owners</b> 
            <a href="{% url 'super_admin_register' %}" class="btn btn-primary mb-3 mx-2" style="float: right;">Add Super-admin</a>
            <a href="{% url 'user-register' %}" class="btn btn-primary" style="float: right;">Add customer</a>
          </h4>
          {% if customer %}
          <table class="table mx-auto table-responsive table-striped align-items-center table-bordered" id='table1'>
            <tr class="text-center bg-gradient-secondary">
                <th>Sr/No.</th>
                <th>Customer Name</th>
                <th class="text-white">Restaurant Name</th>
                <th class="text-white">Actions</th>
            </tr>
            {% for i in customer %}
              <tr class="text-center">
                <td>{{forloop.counter}}</td>
                <td>{{ i.username }}</td>
                <td>{{ i.last_name }}</td>
                <td>
                  <a class="ml-2" href="{% url 'update_customer' i.id %}"><i class="mdi mdi-pencil"></i></a>
                  <a class="ml-2" href="{% url 'remove_customer' i.id %}"><i class="mdi mdi-delete"></i></a>
                  <a href="{% url 'view_customer' i.id %}"><i class="mdi mdi-eye"></i></a>
                </td>
              </tr>
            {%endfor%}
          </table>
          {% else %}
          <h4 class = 'text-center alert alert-warning'>No records to show</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
