{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card card-outline card-primary">
          <div class="card-body">
            <h4 class="card-title">
              <b>Menu For Table</b> 
              <!-- <a href="{% url 'super_admin_register' %}" class="btn btn-primary" style="float: right;">Add Superadmin</a> -->
              <a href="{% url 'user-register' %}" class="btn btn-primary mb-3 mx-2" style="float: right;">Add Customer</a>
            </h4>
            {% if tables %}
            <table class="table mx-auto table-responsive table-striped align-items-center table-bordered" id='table1'>
              <tr class="text-center bg-gradient-secondary">
                  <th>Sr/No.</th>
                  <th>Capacity</th>
                  <th class="text-white">Menu</th>
                  <th class="text-white">Actions</th>
              </tr>
              {% for i in tables %}
                <tr class="text-center">
                  <td>{{ i.table_number }}</td>
                  <td>{{ i.table_capacity }}</td>
                    <td><a href="menu.html">Menu</a></td>
                  <td>
                    <a class="ml-2" href="{% url 'hotel-owner.update' i.id %}"><i class="mdi mdi-pencil"></i></a>
                    <a class="ml-2" href="{% url 'hotel-owner.delete' i.id %}"><i class="mdi mdi-delete"></i></a>
                    <a href="{% url 'hotel-owner.show' i.id %}"><i class="mdi mdi-eye"></i></a>
                  </td>
                </tr>
              {%endfor%}
            </table>
            {% else %}
            <h4 class = 'text-center alert alert-warning'>No records to show</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
  