{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'core/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'core/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/vendors/ti-icons/css/themify-icons.css'%}">
  <link rel="stylesheet" href="{% static 'core/vendors/typicons/typicons.css'%}">
  <link rel="stylesheet" href="{% static 'core/vendors/simple-line-icons/css/simple-line-icons.css'%}">
  <link rel="stylesheet" href="{% static 'core/vendors/css/vendor.bundle.base.css'%}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'core/css/vertical-layout-light/style.css'%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'core/images/favicon.png'%}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'core/images/logo.svg'%}" alt="logo">
              </div>
              <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="Submit" class='btn btn-success' name="" value="Update">
                <a href="{% url 'dashboard' %}" class="btn btn-success">Return</a>
            </form>
            <br>
            <div class="">
              {% for message in messages %}
              <p class="text-center alert alert-info">{{ message }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'core/vendors/js/vendor.bundle.base.js'%}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static 'core/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js'%}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'core/js/off-canvas.js'%}"></script>
  <script src="{% static 'core/js/hoverable-collapse.js'%}"></script>
  <script src="{% static 'core/js/template.js'%}"></script>
  <script src="{% static 'core/js/settings.js'%}"></script>
  <script src="{% static 'core/js/todolist.js'%}"></script>
  <!-- endinject -->
</body>

</html>
